@import '~antd/dist/antd.css';

body {
  width: 840px;
  margin: 40px auto;
}

.content {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8)
}

.content h3 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  body {
    width: 90%;
  }
}